# Seperators "," sep=' ', end=' '

# Chapter 1 print and seperstors

In [1]:
print('hello, world')

hello, world

In [23]:
print(5,19,12,'kamran', sep='*',end='*')

5*world*12*kamran*

# Variables

In [35]:
var1='usama'
var2='karsaz'
print(var1)
var2
#python k andr built in aesa rkha gea bhai 
#k wo last line print kry ga hi kry ga chahye
#isky sath ap ny print ka function lgaya ho ya nahi
var2 = 'kasim'
var2

usama

'kasim'

In [36]:
a = print
a(var1)
type(var1)
a =3
type(a)
var2

usama

'kasim'

In [44]:
#swap two variables without using the third variable
a=3
print('before swaping value of a= ',a)
b=5
print('before swaping value of b =',b)
a,b=b,a
print('a=',a,'\nb=',b)

before swaping value of a=  3
before swaping value of b = 5
a= 5
b= 3

# chapter 3 number variables

In [2]:
weight = 50

sum = weight + 12
sum

62

In [3]:
weight = 12
var = weight + 13
print(var)

25

In [5]:
1weight=12
print(1weight)

SyntaxError: invalid syntax (<ipython-input-5-9701105eb09b>, line 1)

In [6]:
weight1=12
print(weight1)

12

# chapter 4 mathematical expressions

In [7]:
15 // 4#  // point k bd wali value nahi btye ga answer main

3

In [7]:
# 2 * 2 * 2 = 8
2 ** 3 #yeh 3 yahan power hai jo pawer hogi wo answer aye ga

8

In [8]:
2 + 6 * 8 /5 + (2*3)
2+6*8/5+6
2+48/5+6
2+9.6+6
17.6

17.6

In [9]:
2*12+((1+1)/2**4)-1#dry run using pemdas

23.125

In [10]:
2*12+((1+1)/2**4)-1

23.125

# Chapter 5 Variable name legal and illegal

# Chapter 6 unfamiliar operators

In [11]:
a = 'pakistan'

In [17]:
a*2

'pakistanpakistan'

# Assignment Operators


=,+=,-=,*=,/=,%=**=

In [20]:
a = 'xyz'
a+='abc'# isko concatinate kry ga
a

'xyzabc'

In [21]:
a = 12
a+=2# isko add kry ga
a

14

In [29]:
num = 10
num-=2
num

8

In [30]:
a = 12
a/=2#simply divides
a

6.0

In [35]:
a = 12
a%=5#simply givs remainder
a

2

In [39]:
a = 12
a**=2#simply givs power
a

144

In [37]:
a = 2
a*=3#simply givs power
a

6

# Logical operators

==,<=,>=,!=,<,>

In [42]:
a ='hello'
b='hello'# gives boolean output true or false which tells whether the values are equal or not
a==b

True

In [43]:
a=12
b=13
a==b

False

In [57]:
a='anzua'#it checks the first character and returns boolean value e.g 'b' comes after 'a' so 'b' is greater then 'a'
b='banzua'
print(a<b)# a is smaller then b it returns true
a>b# a is greater then b it returns false

True

False

In [59]:
a=12
b=13
a>b
a<b

True

In [63]:
a=12
b=12
a>=b
a<=b

True

# chapter 7 Math expressions eliminating ambiguity

In [65]:
2*12+1+1/2**4-1

24.0625

In [66]:
3*12/14-1//12

2.5714285714285716

In [67]:
3*12

36

In [68]:
36/14

2.5714285714285716

# Chapter 8 Concatinating text strings

In [81]:
name = 'zahid'
next_name='kamran'
con = name+next_name
print(con,con,sep='\t')

zahidkamran	zahidkamran

# Chapter 9 if statement

In [85]:
a=12
if (a==13):
    print('match occurs')
else:
    print('no match occurs')

Wall time: 0 ns
no match occurs

In [89]:
if 2+2==4:
    print('yes')

yes

In [93]:
#indentation error occurs when we dont give 4 spaces 
a = 12
if(a == 12):
    print('hello')
    print('world')
    print('kesy ho')
print('whats up dude')

hello
world
kesy ho
whats up dude

In [103]:
number = int(input('Enter any number : '))

if(number<=12):
    if number<=10:
        print('number smaller or equal then 10')
    else:
        print('number not smaller or equal then 10')
    print('indent is not here')
else:
    print('bye')

Enter any number : 10
number smaller or equal then 10
indent is not here

# chapter 10 comparision operators

In [108]:
a = 'hello world'
if a == 'hello'+''+'world':
     print('true')
else:
    print('false')

false

In [109]:
total_cost = 19
if total_cost==15+4:
    print('true')
else:
    print('false')

true